#main > h1,
#main > h2,
#main > h3,
#main > h4,
#main > h5,
#main > h6
h1,
h2,
h3,
h4,
h5,
h6
{
    text-align: center;
}

#main > .content {
    padding-top: 1rem;
    padding-bottom:  2rem;
}

#main > .post + .post {
    margin-top: 2rem;
}

#main > .post > h2 {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#main > .post > h2 > time {
    font-size: 1rem;
    font-weight: normal;
}

#main > .post > .content {
    padding-top: 1rem;
}

@media screen and (min-width: 768px) {
    #main > .post > div {
        margin-left: 2rem;
    }
}
